<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1" id="main">
                <div class="card text-center" style="width: 18rem;" th:each="lecture : ${lectures}">
                    <a th:href="@{'/users/detail/' + ${lecture.id}}">
                        <img class="card-img-top" th:src="${lecture.lectureImgDto.imgUrl}" th:alt="${lecture.lectureImgDto.oriImgName}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${lecture.title}"></h5>
                        <p class="card-text" th:utext="${lecture.content}"></p>
                        <a th:href="@{'/users/lectures/new/'  + ${lecture.id}}" class="btn btn-primary">수강하기</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
</html>
